NODE_ENV=development

appName="Expressjs Typescript MongoDB Boilerplate"
appProtocol=http
appPort=3000
appDomain=localhost

MongoServer="mongodb://127.0.0.1:27017/gloria"
mongo_pass=
dbName=expressjs

EMAIL_FROM_NAME=
FROM_EMAIL="no-reply@example.com"
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

JWT_SECRET=
TOKEN_LIFETIME=3600000
